* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.title-error {
  color: #333;
  font-size: 24px;
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.92px;
  text-transform: uppercase;
  margin-top: 40px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.content-img {
  width: 50%;
  padding: 70px 70px;
}
.content-img img {
  width: 100%;
}
.content-descript {
  display: flex;
  width: 585px;
  flex-direction: column;
  flex-shrink: 0;
}
.content-descript h2 {
  color: #333;
  font-size: 64px;
  font-family: Space Mono;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.24px;
}
.content-descript p {
  color: #4f4f4f;
  font-size: 24px;
  font-family: Space Mono;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.84px;
}
.btn {
  background-color: #333;
  color: #fff;
  margin-top: 64px;
  padding: 24px 43px;
  font-size: 24px;
  font-family: Space Mono;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.84px;
  border: none;
  cursor: pointer;
}
@media (max-width: 780px) {
  .title-error {
    margin-top: 20px;
    margin-left: 20px;
  }
  .content {
    flex-direction: column;
  }
  .content-img {
    padding: 10px;
  }
  .content-img img {
    width: 320px;
  }
  .content-descript h2 {
    font-size: 48px;
    padding: 10px 10px;
    width: 350px;
  }
  .content-descript p {
    width: 328px;
    font-size: 18px;
    padding: 30px 24px 0px 23px;
  }
  .btn {
    width: 216px;
    height: 64px;
    margin: 50px 124px 24px 23px;
    font-size: 14px;
  }
}
